body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

.page-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.full-page-image {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('images/Widescreen\ tv\ 4k\ black.jpg') no-repeat center center fixed;
    background-size: cover;
    transition: background-size 1s ease-in-out;
}

.full-page-image.zoomed {
    animation: zoomAnimation 4s ease-in-out forwards;
}

@keyframes zoomAnimation {
    0% {
        background-size: 100%;
    }
    100% {
        background-size: 600%;
        background-position: 80% 15%
    }
}

.transition-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0;
    pointer-events: none;
    transition: opacity 1s ease-in-out;
}

.transition-layer.show {
    opacity: 1;
}

.zoom-button {
    position: absolute;
    top: 40%;
    left: 11%;
    transform: translate(-50%, -50%);
    padding: 0.5vw 1.5vw;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    text-decoration: none;
    border-radius: 1vw;
    font-weight: bold;
    cursor: pointer;
    opacity: 0; /* Initially hidden */
    transition: opacity 0.5s ease-in-out;
}

.full-page-image:hover .zoom-button {
    opacity: 1;
}

.zoom-button:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.ascii-art {
    position: absolute;
    top: 5%;
    left: -5%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    font-family: monospace;
    white-space: pre-wrap;
    color: white; /* Set text color to match your design */
    text-align: center;
    z-index: 2; /* Ensure the ASCII art is above the background */
    pointer-events: none; /* Allow clicks to go through the ASCII art */
    background: none; /* Remove any background */
    font-size: 1.5vw; /* Adjust the font size as needed */
    animation: openAnimation 2s ease-in-out forwards;
    opacity: 0; /* Hide the ASCII art initially */
}

@keyframes openAnimation {
    0% {
        opacity: 0;
        transform: translateY(-50%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.ascii-art.hidden {
    animation: dissolveOutAnimation 1s ease-in-out forwards;
}

@keyframes dissolveOutAnimation {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-50%);
    }
}

.icons-container {
    position: absolute;
    bottom: 95%;
    left: 5%;
    transform: translateX(-50%);
    display: flex;
    gap: 1.5vw;
    color: white;
    z-index: 2;
}

.icons-container i {
    font-size: 1.5vw;
    transition: transform 0.3s ease-in-out;
}

.icons-container i:hover {
    transform: scale(1.2);
}

.icons-container2 {
    position: absolute;
    bottom: 94%;
    left: 97%;
    transform: translateX(-50%);
    display: flex;
    gap: 20px;
    color: white;
    z-index: 2;
}

.icons-container2 i {
    font-size: 2.5vw;
    transition: transform 0.3s ease-in-out;
}

.icons-container2 i:hover {
    transform: scale(1.2);
}